{
  "extends": "airbnb",
  "plugins": [ "jest" ],
  "env": {
    "jest/globals": true,
    "brower": true,
    "node": true,
  },
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}
